<td data-label="name">
  <%= user.name %>
</td>

<td data-label="email">
  <%= link_to user.email, user %>
</td>

<td data-label="edit links">
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') unless user == current_user %>
</td>


