  <div class="row collapse">
	  <h3 class="left">Trainers</h3>
    <div>		
		<table class="responsive-card-table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Edit Links</th>
			</tr>
		</thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


