	  <h5 class="float-left">Users (<%= @users.count %>)</h5>
    <div>		
		<table class="responsive-card-table">
		<thead>
			<tr>
				<th>Email</th>
				<th>Completed Ratings</th>
				<th>Last Login</th>
				<th>Total Logins</th>
				<th>Edit Links</th>
			</tr>
		</thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>



