<h5 class="float-left">Videos</h5>
<%= link_to 'Add a Video', new_video_path, :class => "button small float-right" %>



<table class="responsive-card-table">
  <thead>
    <tr>
	  <th>Thumb</th>		
	  <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
		<td data-label="Thumb"><%= link_to image_tag("https://img.youtube.com/vi/#{video.youtube_id}/0.jpg",style: 'max-height:200px;width:auto;'), video_path(video)  %> </td>
		<td data-label="Description"><%= video.description %> / <%= link_to 'Edit', edit_video_path(video) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


