<h5>Editing Client</h5>

<%= render 'form', client: @client %>

<%= link_to 'Show', @client %> |
<%= link_to 'Back', clients_path %> |
<%= link_to 'Delete', @client, method: :delete, data: { confirm: 'Are you sure?' } %>
