
<h5>Update Overlap</h5>


<%= render 'form', appointment: @appointment %>

<%= link_to 'Show', @appointment %> | 
<%= link_to 'Back', appointments_path %> | 
<%= link_to 'Delete', @appointment, method: :delete, data: { confirm: 'Are you sure?' } %>

