<div class="row expanded columns">
<div class="large-12 columns">
<h5>Edit Overlap</h5>
</div>
</div>

<%= render 'form', appointment: @appointment %>

<%= link_to 'Show', @appointment %> | 
<%= link_to 'Back', appointments_path %> | 
<%= link_to 'Delete', @appointment, method: :delete, data: { confirm: 'Are you sure?' } %>

