	<div class="clearfix">
	</div>

	<div class="research-footer">
	<div class="container">
	<div class="grid-container">
        <span>©2019 Center for Autism and Related Disorders. All rights reserved.</span>		
	</div>
	</div>
	</div>