	<div class="clearfix">
	</div>

	<div class="research-footer">
	<div class="container">
	<div class="grid-container">
<<<<<<< HEAD
        <span>©2021 Center for Autism and Related Disorders. All rights reserved.</span>		
=======
        <span>©2019 Center for Autism and Related Disorders. All rights reserved.</span>		
>>>>>>> 684ecb58c51923981c74f5b96f5424669cf02227
	</div>
	</div>
	</div>